files/rnc/sample.rnc


[ x:h2 [ "The address element" ] ]
div {
    xhtml.address =
        element address { xhtml.address.attlist, xhtml.address.content }
    xhtml.address.attlist = xhtml.Structural.attrib
    xhtml.address.content = xhtml.Text.model
}
[ x:h2 [ "The blockcode element" ] ]
div {
    xhtml.blockcode =
        element blockcode { xhtml.blockcode.attlist, xhtml.blockcode.content }
    xhtml.blockcode.attlist = xhtml.Structural.attrib
    xhtml.blockcode.content =
        (text
         | xhtml.Text.class
         | xhtml.Heading.class
         | xhtml.Structural.class
         | xhtml.List.class
         | xhtml.Misc.class)*
}
[ x:h2 [ "The blockquote element" ] ]
div {
    xhtml.blockquote =
        element blockquote {
            xhtml.blockquote.attlist, xhtml.blockquote.content
        }
    xhtml.blockquote.attlist = xhtml.Structural.attrib
    xhtml.blockquote.content =
        (text
         | xhtml.Text.class
         | xhtml.Heading.class
         | xhtml.Structural.class
         | xhtml.List.class
         | xhtml.Misc.class)*
}
[ x:h2 [ "The div element" ] ]
div {
    xhtml.div = element div { xhtml.div.attlist, xhtml.div.content }
    xhtml.div.attlist = xhtml.Structural.attrib
    xhtml.div.content = xhtml.Flow.model
}
[ x:h2 [ "The heading element" ] ]
div {
    xhtml.h = element h { xhtml.h.attlist, xhtml.h.content }
    xhtml.h.attlist =
        attribute importance { text },
        xhtml.Structural.attrib
    xhtml.h.content = xhtml.Text.model
}
[ x:h2 [ "The p element" ] ]
div {
    xhtml.p = element p { xhtml.p.attlist, xhtml.p.content }
    xhtml.p.attlist = xhtml.Structural.attrib
    xhtml.p.content =
        (text
         | xhtml.Text.class
         | xhtml.List.class
         | xhtml.blockcode
         | xhtml.blockquote
         | xhtml.pre
         | xhtml.table
         | xhtml.Misc.class)*
}
[ x:h2 [ "The pre element" ] ]
div {
    xhtml.pre = element pre { xhtml.pre.attlist, xhtml.pre.content }
    xhtml.pre.attlist = xhtml.Structural.attrib
    xhtml.pre.content = xhtml.Text.model
}
div {
    xhtml.main =
        (element main { section.content }
         | element aside { section.content }
         | element header { section.content }
         | element footer { section.content })*
    section.content = xhtml.Flow.model
}
[ x:h2 [ "The section element" ] ]
div {
    xhtml.section =
        element section { xhtml.section.attlist, xhtml.section.content }
    xhtml.section.attlist = xhtml.Structural.attrib
    xhtml.section.content = xhtml.Flow.model
    # This pattern is not referenced by the default
    # XHTML2 content model, but provided for the convenience 
    # of language designers
    xhtml.section.strict.model =
        (xhtml.section.strict.prehead.extra)*,
        xhtml.Heading.class,
        (xhtml.Structural.class)*
    xhtml.section.strict.prehead.extra = empty
}
[ x:h2 [ "The separator element" ] ]
div {
    xhtml.separator = element separator { xhtml.separator.attlist, empty }
    xhtml.separator.attlist = xhtml.Structural.attrib
}
[ x:h2 [ "Content Model" ] ]
div {
    xhtml.Heading.class = xhtml.h
    xhtml.Structural.nosection.class =
        xhtml.address
        | xhtml.blockcode
        | xhtml.blockquote
        | xhtml.div
        | xhtml.pre
        | xhtml.separator
        | xhtml.l
        | xforms.Core.Form.Controls
    xhtml.Structural.class =
        (xhtml.Structural.nosection.class
         | xhtml.section
         | xhtml.main
         | xhtml.p)*
    xhtml.Structural.mix =
        (xhtml.Heading.class
         | xhtml.Structural.class
         | xhtml.List.class
         | xhtml.Misc.class)*
    xhtml.Structural.model = xhtml.Structural.mix+
    xhtml.Flow.model =
        (text
         | xhtml.Heading.class
         | xhtml.Structural.class
         | xhtml.List.class
         | xhtml.Text.class
         | xhtml.Misc.class)*
    xhtml.Structural.attrib &= xhtml.Common.attrib
}
x:h1 [ "Text Module" ]
div {
    mark = xhtml.Text.attrib, xhtml.Text.model
}
[ x:h2 [ "The abbr element" ] ]
div {
    xhtml.abbr = element abbr { xhtml.abbr.attlist, xhtml.abbr.content }
    xhtml.abbr.attlist =
        xhtml.Text.attrib,
        attribute full { URI.datatype }?
    xhtml.abbr.content = xhtml.Text.model
}
[ x:h2 [ "The cite element" ] ]
div {
    xhtml.cite = element cite { xhtml.cite.attlist, xhtml.cite.content }
    xhtml.cite.attlist = xhtml.Text.attrib
    xhtml.cite.content = xhtml.Text.model
}
[ x:h2 [ "The code element" ] ]
div {
    xhtml.code = element code { xhtml.code.attlist, xhtml.code.content }
    xhtml.code.attlist = xhtml.Text.attrib
    xhtml.code.content = xhtml.Text.model
}
[ x:h2 [ "The dfn element" ] ]
div {
    xhtml.dfn = element dfn { xhtml.dfn.attlist, xhtml.dfn.content }
    xhtml.dfn.attlist = xhtml.Text.attrib
    xhtml.dfn.content = xhtml.Text.model
}
[ x:h2 [ "The em element" ] ]
div {
    xhtml.em = element em { xhtml.em.attlist, xhtml.em.content }
    xhtml.em.attlist = xhtml.Text.attrib
    xhtml.em.content = xhtml.Text.model
}
[ x:h2 [ "The kbd element" ] ]
div {
    xhtml.kbd = element kbd { xhtml.kbd.attlist, xhtml.kbd.content }
    xhtml.kbd.attlist = xhtml.Text.attrib
    xhtml.kbd.content = xhtml.Text.model
}
[ x:h2 [ "The l element" ] ]
div {
    xhtml.l = element l { xhtml.l.attlist, xhtml.l.content }
    xhtml.l.attlist = xhtml.Text.attrib
    xhtml.l.content = xhtml.Text.model
}
[ x:h2 [ "The quote element" ] ]
div {
    xhtml.quote = element q { xhtml.quote.attlist, xhtml.quote.content }
    xhtml.quote.attlist = xhtml.Text.attrib
    xhtml.quote.content = xhtml.Text.model
}
[ x:h2 [ "The samp element" ] ]
div {
    xhtml.samp = element samp { xhtml.samp.attlist, xhtml.samp.content }
    xhtml.samp.attlist = xhtml.Text.attrib
    xhtml.samp.content = xhtml.Text.model
}
[ x:h2 [ "The span element" ] ]
div {
    xhtml.span = element span { xhtml.span.attlist, xhtml.span.content }
    xhtml.span.attlist = xhtml.Text.attrib
    xhtml.span.content = xhtml.Text.model
}
[ x:h2 [ "The strong element" ] ]
div {
    xhtml.strong = element strong { xhtml.strong.attlist, xhtml.strong.content }
    xhtml.strong.attlist = xhtml.Text.attrib
    xhtml.strong.content = xhtml.Text.model
}
[ x:h2 [ "The sub element" ] ]
div {
    xhtml.sub = element sub { xhtml.sub.attlist, xhtml.sub.content }
    xhtml.sub.attlist = xhtml.Text.attrib
    xhtml.sub.content = xhtml.Text.model
}
[ x:h2 [ "The sup element" ] ]
div {
    xhtml.sup = element sup { xhtml.sup.attlist, xhtml.sup.content }
    xhtml.sup.attlist = xhtml.Text.attrib
    xhtml.sup.content = xhtml.Text.model
}
[ x:h2 [ "The var element" ] ]
div {
    xhtml.var = element var { xhtml.var.attlist, xhtml.var.content }
    xhtml.var.attlist = xhtml.Text.attrib
    xhtml.var.content = xhtml.Text.model
}
[ x:h2 [ "The mark element" ] ]
div {
    xhtml.mark = element mark { xhtml.mark.attlist, xhtml.mark.content }
    xhtml.mark.attlist = xhtml.Text.attrib
    xhtml.mark.content = xhtml.Text.model
}
[ x:h2 [ "The meter element" ] ]
div {
    xhtml.meter = element meter { xhtml.meter.attlist, xhtml.meter.content }
    xhtml.meter.attlist = xhtml.Text.attrib
    xhtml.meter.content = xhtml.Text.model
}
[ x:h2 [ "The caption element" ] ]
div {
    xhtml.caption =
        element caption { xhtml.caption.attlist, xhtml.caption.content }
    xhtml.caption.attlist = xhtml.Text.attrib
    xhtml.caption.content = xhtml.Text.model
}
[ x:p [ "these can occur at Structural or Text level" ] ]
div {
    xhtml.Misc.class = empty
}
[ x:h2 [ "Content Model" ] ]
div {
    xhtml.Text.class =
        xhtml.abbr
        | xhtml.cite
        | xhtml.code
        | xhtml.dfn
        | xhtml.em
        | xhtml.kbd
        | xhtml.l
        | xhtml.quote
        | xhtml.samp
        | xhtml.span
        | xhtml.strong
        | xhtml.sub
        | xhtml.sup
        | xhtml.var
        | xhtml.meter
        | xhtml.mark
    xhtml.Text.model = (text | xhtml.Text.class | xhtml.Misc.class)*
    xhtml.Text.attrib &= xhtml.Common.attrib
}
div {
    xhtml.script =
        element script {
            xhtml.Common.attrib,
            attribute src { text }
        }
}
x:h1 [ "List Module" ]
[ x:h2 [ "The dl element" ] ]
div {
    xhtml.dl = element dl { xhtml.dl.attlist, xhtml.dl.content }
    xhtml.dl.attlist = xhtml.Common.attrib
    xhtml.dl.content =
        xhtml.title?,
        xhtml.caption?,
        ((xhtml.dt | xhtml.dd)+ | xhtml.di+)
    # This pattern is not referenced by the default
    # XHTML2 content model, but provided for the convenience 
    # of language designers
    xhtml.dl.content.di.required = xhtml.caption?, xhtml.di+
}
[ x:h2 [ "The di element" ] ]
div {
    xhtml.di = element di { xhtml.di.attlist, xhtml.di.content }
    xhtml.di.attlist = xhtml.Common.attrib
    xhtml.di.content = xhtml.dt+, xhtml.dd*
}
[ x:h2 [ "The dt element" ] ]
div {
    xhtml.dt = element dt { xhtml.dt.attlist, xhtml.dt.content }
    xhtml.dt.attlist = xhtml.Common.attrib
    xhtml.dt.content = xhtml.Text.model
}
[ x:h2 [ "The dd element" ] ]
div {
    xhtml.dd = element dd { xhtml.dd.attlist, xhtml.dd.content }
    xhtml.dd.attlist = xhtml.Common.attrib
    xhtml.dd.content = xhtml.Flow.model
}
[ x:h2 [ "The ol element" ] ]
div {
    xhtml.ol = element ol { xhtml.ol.attlist, xhtml.ol.content }
    xhtml.ol.attlist = xhtml.Common.attrib
    xhtml.ol.content = xhtml.title?, xhtml.caption?, xhtml.li-in-ol+
}
[ x:h2 [ "The ul element" ] ]
div {
    xhtml.ul = element ul { xhtml.ul.attlist, xhtml.ul.content }
    xhtml.ul.attlist = xhtml.Common.attrib
    xhtml.ul.content = xhtml.title?, xhtml.caption?, xhtml.li+
}
[ x:h2 [ "The li element" ] ]
div {
    xhtml.li = element li { xhtml.li.attlist, xhtml.li.content }
    xhtml.li.attlist = xhtml.Common.attrib
    xhtml.li.content = xhtml.Flow.model
    xhtml.li-in-ol = element li { xhtml.li-in-ol.attlist, xhtml.li.content }
    xhtml.li-in-ol.attlist = xhtml.li.attlist, xhtml.li-in-ol.value.attrib
    xhtml.li-in-ol.value.attrib = attribute value { Number.datatype }?
}
[ x:h2 [ "List Content Set" ] ]
div {
    xhtml.List.class = xhtml.dl | xhtml.ol | xhtml.ul
}
[ x:h2 [ "Core Attribute Collection" ] ]
div {
    xhtml.class.attrib = attribute class { NMTOKENS.datatype }
    xhtml.id.attrib = id.attrib | xmlid.attrib
    xhtml.layout.attrib =
        # a:defaultValue="irrelevant"
        attribute layout { "irrelevant" | "relevant" }
    xhtml.title.attrib = attribute title { Text.datatype }
    xhtml.Core.attrib =
        xhtml.id.attrib?,
        xhtml.class.attrib?,
        xhtml.layout.attrib?,
        xhtml.title.attrib?
}
xhtml.Common.attrib &= xhtml.Core.attrib
id.attrib = attribute id { ID.datatype }
xmlid.attrib = attribute xml:id { ID.datatype }
x:h1 [ "Hypertext Attributes Module" ]
[ x:h2 [ "Hypertext Attributes Collection" ] ]
div {
    xhtml.cite.attrib = attribute cite { URI.datatype }
    xhtml.href.attrib = attribute href { URI.datatype }
    xhtml.hreflang.attrib = attribute hreflang { LanguageCodes.datatype }
    xhtml.hrefmedia.attrib = attribute hrefmedia { MediaDesc.datatype }
    xhtml.hreftype.attrib = attribute hreftype { ContentTypes.datatype }
    xhtml.nextfocus.attrib = attribute nextfocus { IDREF.datatype }
    xhtml.prevfocus.attrib = attribute prevfocus { IDREF.datatype }
    xhtml.target.attrib = attribute target { HrefTarget.datatype }
    xml.base.attrib = attribute xml:base { URI.datatype }
    xhtml.Hypertext.attrib =
        xhtml.cite.attrib?,
        xhtml.href.attrib?,
        xhtml.hreflang.attrib?,
        xhtml.hrefmedia.attrib?,
        xhtml.hreftype.attrib?,
        xhtml.nextfocus.attrib?,
        xhtml.prevfocus.attrib?,
        xhtml.target.attrib?,
        xml.base.attrib?
}
xhtml.Common.attrib &= xhtml.Hypertext.attrib
x:h1 [ "I18N Attribute Module" ]
[ x:h2 [ "I18N Attribute Collection" ] ]
div {
    xml.lang.attrib = attribute xml:lang { LanguageCode.datatype }
    xhtml.I18n.attrib = xml.lang.attrib?
}
xhtml.Common.attrib &= xhtml.I18n.attrib
x:h1 [ "Access Module" ]
[ x:h2 [ "The access element" ] ]
div {
    xhtml.access = element access { empty, xhtmlAccess.attlist }
    xhtmlAccess.attlist =
        xhtml.Common.attrib,
        xhtmlAccess.activate.attrib,
        xhtmlAccess.key.attrib,
        xhtmlAccess.order.attrib,
        xhtmlAccess.targetid.attrib,
        xhtmlAccess.targetrole.attrib
    xhtmlAccess.activate.attrib =
        # a:defaultValue="false"
        attribute activate { "true" | "false" }?
    xhtmlAccess.key.attrib = attribute key { Characters.datatype }?
    xhtmlAccess.order.attrib =
        # a:defaultValue="document"
        attribute order { "document" | "list" }?
    xhtmlAccess.targetid.attrib = attribute targetid { IDREF.datatype }?
    xhtmlAccess.targetrole.attrib = attribute targetrole { CURIEs.datatype }?
}
xhtml.head.misc |= xhtml.access
x:h1 [ "Bi-directional Text Attribute Module" ]
[ x:h2 [ "Bi-directional Text Collection" ] ]
div {
    xhtml.dir.attrib =
        # a:defaultValue="ltr"
        attribute dir { "ltr" | "rtl" | "lro" | "rlo" }?
    xhtml.Bidi.attrib = xhtml.dir.attrib
}
xhtml.Common.attrib &= xhtml.Bidi.attrib
x:h1 [ "Edit Attribute Module" ]
[ x:h2 [ "Edit Collection" ] ]
div {
    xhtml.edit.attrib =
        attribute edit { "inserted" | "deleted" | "changed" | "moved" }
    xhtml.datetime.attrib = attribute datetime { Datetime.datatype }
    xhtml.Edit.attrib = xhtml.edit.attrib?, xhtml.datetime.attrib?
}
xhtml.Common.attrib &= xhtml.Edit.attrib
x:h1 [ "Embedding Attributes Module" ]
[ x:h2 [ "Embedding Attributes Collection" ] ]
div {
    xhtml.src.attrib = attribute src { URI.datatype }
    xhtml.encoding.attrib = attribute encoding { Encodings.datatype }
    xhtml.srctype.attrib = attribute srctype { ContentTypes.datatype }
    xhtml.Embedding.attrib =
        xhtml.src.attrib?, xhtml.encoding.attrib?, xhtml.srctype.attrib?
}
xhtml.Common.attrib &= xhtml.Embedding.attrib
x:h1 [ "Metainformation Attributes Module" ]
[ x:h2 [ "Metadata Attribute Collection" ] ]
div {
    rdfa.about.attrib = attribute about { URIorSafeCURIE.datatype }?
    rdfa.content.attrib = attribute content { CDATA.datatype }?
    rdfa.datatype.attrib = attribute datatype { CURIE.datatype }?
    rdfa.typeof.attrib = attribute typeof { CURIEs.datatype }?
    rdfa.property.attrib =
        # a:defaultValue="reference"
        attribute property { CURIEs.datatype }?
    rdfa.rel.attrib = attribute rel { CURIEs.datatype }?
    rdfa.resource.attrib = attribute resource { URIorSafeCURIE.datatype }?
    rdfa.rev.attrib = attribute rev { CURIEs.datatype }?
    rdfa.Metadata.attrib =
        rdfa.about.attrib,
        rdfa.content.attrib,
        rdfa.datatype.attrib,
        rdfa.typeof.attrib,
        rdfa.property.attrib,
        rdfa.rel.attrib,
        rdfa.resource.attrib,
        rdfa.rev.attrib
}
xhtml.Common.attrib &= rdfa.Metadata.attrib
x:h1 [ "Metainformation Module" ]
[ x:h2 [ "The link element" ] ]
div {
    xhtml.link = element link { xhtml.link.attlist, xhtml.link.content }
    xhtml.link.attlist = xhtml.Common.attrib
    xhtml.link.content = (xhtml.link | xhtml.meta)*
}
xhtml.head.misc |= xhtml.link
xhtml.Misc.class |= xhtml.link

x:h1 [ "Object Module" ]
x:p [ "Note. Also include the Caption Module when this module is used." ]
[ x:h2 [ "The object element" ] ]
div {
    xhtml.object = element object { xhtml.object.attlist, xhtml.object.content }
    xhtml.object.attlist =
        xhtml.Common.attrib,
        attribute archive { URIs.datatype }?,
        attribute content-length { Number.datatype }?,
        attribute declare { "declare" }?
    xhtml.object.content =
        xhtml.caption?, xhtml.standby?, xhtml.param*, xhtml.Flow.model
}
[ x:h2 [ "The param element" ] ]
div {
    xhtml.param = element param { xhtml.param.attlist, xhtml.param.model }
    xhtml.param.attlist = xhtml.Common.attrib
    xhtml.param.model = xhtml.Text.model
}
[ x:h2 [ "The standby element" ] ]
div {
    xhtml.standby =
        element standby { xhtml.standby.attlist, xhtml.standby.model }
    xhtml.standby.attlist = xhtml.Common.attrib
    xhtml.standby.model = xhtml.Text.model
}
xhtml.Text.class |= xhtml.object
x:h1 [ "Tables Module" ]
x:p [ "Note. Also include the Caption Module when this module is used." ]
[ x:h2 [ "The table element" ] ]
div {
    xhtml.table = element table { xhtml.table.attlist, xhtml.table.content }
    xhtml.table.attlist = xhtml.Common.attrib
    xhtml.table.content =
        xhtml.title?,
        xhtml.caption?,
        xhtml.summary?,
        (xhtml.col* | xhtml.colgroup*),
        ((xhtml.thead?, xhtml.tfoot?, xhtml.tbody+) | xhtml.tr+)
}
[ x:h2 [ "The summary element" ] ]
div {
    xhtml.summary =
        element summary { xhtml.summary.attlist, xhtml.summary.content }
    xhtml.summary.attlist = xhtml.Common.attrib
    xhtml.summary.content = xhtml.Flow.model
}
[ x:h2 [ "The col element" ] ]
div {
    xhtml.col = element col { xhtml.col.attlist }
    xhtml.col.attlist = xhtml.Common.attrib, xhtml.span.attrib
}
[ x:h2 [ "The colgroup element" ] ]
div {
    xhtml.colgroup =
        element colgroup { xhtml.colgroup.attlist, xhtml.colgroup.content }
    xhtml.colgroup.attlist = xhtml.Common.attrib, xhtml.span.attrib
    xhtml.colgroup.content = xhtml.col*
}
[ x:h2 [ "The thead element" ] ]
div {
    xhtml.thead = element thead { xhtml.thead.attlist, xhtml.thead.content }
    xhtml.thead.attlist = xhtml.Common.attrib
    xhtml.thead.content = xhtml.tr+
}
[ x:h2 [ "The tfoot element" ] ]
div {
    xhtml.tfoot = element tfoot { xhtml.tfoot.attlist, xhtml.tfoot.content }
    xhtml.tfoot.attlist = xhtml.Common.attrib
    xhtml.tfoot.content = xhtml.tr+
}
[ x:h2 [ "The tbody element" ] ]
div {
    xhtml.tbody = element tbody { xhtml.tbody.attlist, xhtml.tbody.content }
    xhtml.tbody.attlist = xhtml.Common.attrib
    xhtml.tbody.content = xhtml.tr+
}
[ x:h2 [ "The tr element" ] ]
div {
    xhtml.tr = element tr { xhtml.tr.attlist, xhtml.tr.content }
    xhtml.tr.attlist = xhtml.Common.attrib
    xhtml.tr.content = (xhtml.th | xhtml.td)+
}
[ x:h2 [ "The th element" ] ]
div {
    xhtml.th = element th { xhtml.th.attlist, xhtml.th.content }
    xhtml.th.attlist = xhtml.Cell.attrib
    xhtml.th.content = xhtml.Flow.model
}
[ x:h2 [ "The td element" ] ]
div {
    xhtml.td = element td { xhtml.td.attlist, xhtml.td.content }
    xhtml.td.attlist = xhtml.Cell.attrib
    xhtml.td.content = xhtml.Flow.model
}
[ x:h2 [ "Attribute definitions" ] ]
div {
    xhtml.span.attrib =
        # a:defaultValue="1"
        attribute span { spanNumber.datatype }?
    xhtml.Cell.attrib =
        xhtml.Common.attrib,
        attribute abbr { Text.datatype }?,
        attribute axis { text }?,
        # a:defaultValue="1"
        attribute colspan { Number.datatype }?,
        attribute headers { IDREFS.datatype }?,
        # a:defaultValue="1"
        attribute rowspan { Number.datatype }?,
        xhtml.scope.attrib
    xhtml.scope.attrib =
        attribute scope { "row" | "col" | "rowgroup" | "colgroup" }?
}
xhtml.Structural.class |= xhtml.table
x:h1 [ "Datatypes Module" ]
[ x:h2 [ "Datatypes defined in XML 1.0" ] ]
div {
    CDATA.datatype = text
    ID.datatype = xsd:ID
    IDREF.datatype = xsd:IDREF
    IDREFS.datatype = xsd:IDREFS
    NAME.datatype = xsd:Name
    NMTOKEN.datatype = xsd:NMTOKEN
    NMTOKENS.datatype = xsd:NMTOKENS
}
[ x:h2 [ "CURIE Datatypes" ] ]
div {
    [ x:p [ "A single curie" ] ]
    CURIE.datatype =
        xsd:string { pattern = "(([\i-[:]][\c-[:]]*)?:)?.+" minLength = "1" }
    [ x:p [ "A whitespace separated list of CURIEs" ] ]
    CURIEs.datatype = list { CURIE.datatype+ }
    [ x:p [ "A single safe_curie" ] ]
    SafeCURIE.datatype =
        xsd:string {
            pattern = "\[(([\i-[:]][\c-[:]]*)?:)?.+\]"
            minLength = "3"
        }
    [ x:p [ "A whitespace separated list of SafeCURIEs" ] ]
    SafeCURIEs.datatype = list { SafeCURIE.datatype+ }
    [
        x:p [
            "A URI or a SafeCURIE (since you need a SafeCURIE \x{a}" ~
            "				to disambiguate between a common URI and a CURIE)"
        ]
    ]
    URIorSafeCURIE.datatype = URI.datatype | CURIE.datatype
    [ x:p [ "A whitespace separated list of URIorSafeCURIEs" ] ]
    URIorSafeCURIEs.datatype = list { URIorSafeCURIE.datatype+ }
}
[ x:h2 [ "Additional Datatypes" ] ]
div {
    [ x:p [ "A single character, as per section 2.2 of [XML]." ] ]
    Character.datatype = xsd:string { length = "1" }
    Characters.datatype = xsd:string
    [ x:p [ "A character encoding, as per [RFC2045]" ] ] Charset.datatype = text
    [
        x:p [
            "A comma-separated list of 'charset's with optional q parameters,\x{a}" ~
            "				as defined in section 14.2 of [RFC2616] as the field value of\x{a}" ~
            "				the Accept-Charset request header."
        ]
    ]
    Encodings.datatype = text
    [ x:p [ "Media type, as per [RFC2045]" ] ] ContentType.datatype = text
    [
        x:p [
            "A list of media ranges with optional accept parameters,\x{a}" ~
            "				as defined in section 14.1 of [RFC2616] as the field value\x{a}" ~
            "				of the accept request header."
        ]
    ]
    ContentTypes.datatype = text
    [ x:p [ "Comma separated list of Lengths used in defining areas." ] ]
    Coordinates.datatype =
        xsd:string { pattern = "(\d+|\d+(\.\d+)?%)(,\s*(\d+|\d+(\.\d+)?%))*" }
    [
        x:p [
            "Date and time information, as defined by the type dateTime\x{a}" ~
            "				in [XMLSCHEMA]."
        ]
    ]
    Datetime.datatype = xsd:dateTime
    [ x:p [ "Name used as destination for results of certain actions." ] ]
    HrefTarget.datatype = NMTOKEN.datatype
    [ x:p [ "A language code, as per [RFC3066]." ] ]
    LanguageCode.datatype = xsd:language
    [ x:p [ "A comma-separated list of language ranges." ] ]
    LanguageCodes.datatype = text
    [
        x:p [
            "The value may be either in pixels or a percentage of the available\x{a}" ~
            '				horizontal or vertical space. Thus, the value "50%" means half of\x{a}' ~
            "				the available space."
        ]
    ]
    Length.datatype = xsd:string { pattern = "(\d+|\d+(\.\d+)?%)" }
    [ x:p [ "A location path as defined in [XPATH]." ] ]
    LocationPath.datatype = text
    [
        x:p [
            "A comma-separated list of media descriptors as described by [CSS].\x{a}" ~
            "				The default is all."
        ]
    ]
    MediaDesc.datatype = xsd:string { pattern = "[^,]+(,\s*[^,]+)*" }
    [ x:p [ "One or more digits (NUMBER)." ] ]
    Number.datatype = xsd:nonNegativeInteger { pattern = "[0-9]+" }
    [
        x:p [
            "span: this attribute value must be an integer > 0;\x{a}" ~
            "				the default value is 1."
        ]
    ]
    spanNumber.datatype = xsd:positiveInteger { pattern = "[0-9]+" }
    [ x:p [ "An [XMLNS]-qualified name." ] ] QName.datatype = xsd:QName
    [ x:p [ "One or more white space separated QName values." ] ]
    QNames.datatype = list { xsd:QName+ }
    [ x:p [ "An [XMLNS]-qualified name." ] ]
    prefixedQName.datatype =
        xsd:QName { pattern = "[\i-[:]][\c-[:]]*:[\i-[:]][\c-[:]]*" }
    [ x:p [ "The shape of a region." ] ]
    Shape.datatype = "default" | "rect" | "circle" | "poly"
    [ x:p [ "Arbitrary textual data, likely meant to be human-readable." ] ]
    Text.datatype = text
    [
        x:p [
            "A Uniform Resource Identifier Reference, as defined by the type\x{a}" ~
            "				anyURI in [XMLSCHEMA]."
        ]
    ]
    URI.datatype = xsd:anyURI
    [ x:p [ "A space-separated list of URIs as defined above." ] ]
    URIs.datatype = list { URI.datatype+ }
    Boolean.datatype = "true" | "false"
}
}