files/xml/rng/xhtml2d1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:x="http://www.w3.org/1999/xhtml" ns="http://www.w3.org/2002/06/xhtml2/" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<!--<include href="https://lists.w3.org/Archives/Public/public-forms/2009Sep/att-0010/xforms-nons-11.rng"></include>
	<include href="https://www.w3.org/Math/RelaxNG/mathml3/mathml3.rng"></include>
	<include href="https://www.w3.org/Graphics/SVG/1.2/rng/Tiny-1.2/Tiny-1.2.rng"></include>-->
	<x:h1>Document Module</x:h1>
	<start combine="interleave">
		<ref name="xhtml.html"/>
	</start>
	<!-- 中核属性 -->
	<x:h1></x:h1>
	<div>
		<x:h2>Core Attribute Collection</x:h2>
		<define name="xhtml.class.attrib">
			<attribute name="class">
				<ref name="NMTOKENS.datatype"/>
			</attribute>
		</define>
		<define name="id.attrib">
			<attribute name="id">
				<ref name="ID.datatype"/>
			</attribute>
		</define>
		<define name="xmlid.attrib">
			<attribute name="xml:id">
				<ref name="ID.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.id.attrib">
			<choice>
				<ref name="id.attrib"/>
				<ref name="xmlid.attrib"/>
			</choice>
		</define>
		<define name="xhtml.layout.attrib">      
      <!-- a:defaultValue="irrelevant" -->
			<attribute name="layout">
				<choice>
					<value>irrelevant</value>
					<value>relevant</value>
				</choice>
			</attribute>
		</define>
		<define name="xhtml.title.attrib">
			<attribute name="title">
				<ref name="Text.datatype"/>
			</attribute>
		</define>
		
		<define name="xhtml.Core.attrib">
			<optional>
				<ref name="xhtml.id.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.class.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.layout.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.title.attrib"/>
			</optional>
		</define>
		<define name="xhtml.Common.attrib" combine="interleave">
			<ref name="rdfa.Metadata.attrib"/>
			<ref name="xhtml.Core.attrib"/>
		</define>
	</div>
	
	<x:h1>Metainformation Attributes Module</x:h1>
	<div>
		<x:h2>Metadata Attribute Collection</x:h2>
		<define name="rdfa.about.attrib">
			<optional>
				<attribute name="about">
					<ref name="URIorSafeCURIE.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.content.attrib">
			<optional>
				<attribute name="content">
					<ref name="CDATA.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.datatype.attrib">
			<optional>
				<attribute name="datatype">
					<ref name="CURIE.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.typeof.attrib">
			<optional>
				<attribute name="typeof">
					<ref name="CURIEs.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.property.attrib">
			<optional>
        <!-- a:defaultValue="reference" -->
				<attribute name="property">
					<ref name="CURIEs.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.rel.attrib">
			<optional>
				<attribute name="rel">
					<ref name="CURIEs.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.resource.attrib">
			<optional>
				<attribute name="resource">
					<ref name="URIorSafeCURIE.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.rev.attrib">
			<optional>
				<attribute name="rev">
					<ref name="CURIEs.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="rdfa.Metadata.attrib">
			<ref name="rdfa.about.attrib"/>
			<ref name="rdfa.content.attrib"/>
			<ref name="rdfa.datatype.attrib"/>
			<ref name="rdfa.typeof.attrib"/>
			<ref name="rdfa.property.attrib"/>
			<ref name="rdfa.rel.attrib"/>
			<ref name="rdfa.resource.attrib"/>
			<ref name="rdfa.rev.attrib"/>
		</define>
	</div>
	
	<x:h1>Metainformation Module</x:h1>
	<div>
		<x:h2>The meta element</x:h2>
		<define name="xhtml.property">
			<element name="property">
				<attribute name="name"></attribute>
				<attribute name="content"></attribute>
			</element>
		</define>
		<define name="xhtml.meta">
			<element name="meta">
				<ref name="xhtml.meta.attlist"/>
				<empty/>
			</element>
		</define>
		<define name="xhtml.meta.attlist">
			<ref name="xhtml.Common.attrib"/>
			<optional>
				<attribute name="name"></attribute>
			</optional>
			<optional>
				<attribute name="http-equv"></attribute>
			</optional>
		</define>
	</div>
	<div>
		<x:h2>The html element</x:h2>
		<define name="xhtml.source">
			<element name="source">
				<ref name="xhtml.Common.attrib"/>
				<optional>
					<attribute name="uri"/>
				</optional>
				<optional>
					<attribute name="async"><value>true</value></attribute>
				</optional>
				<attribute name="type"></attribute>
				<ref name="xhtml.Text.model"/>
			</element>
		</define>
		<define name="xhtml.sourcecode">
			<element name="source">
				<ref name="xhtml.Common.attrib"/>
				<optional>
					<attribute name="async"><value>true</value></attribute>
				</optional>
				<attribute name="type"></attribute>
				<ref name="xhtml.Text.model"/>
			</element>
		</define>
		
		<define name="xhtml.style">
			<element name="style">
				<ref name="xhtml.Common.attrib"/>
				<attribute name="type"/>
				<text/>
			</element>
		</define>

		<define name="xhtml.script">
			<element name="script">
				<ref name="xhtml.Common.attrib"/>
				<optional><attribute name="type"/></optional>
				
				<text/>
			</element>
		</define>

		<define name="head.misc">
			<zeroOrMore>
				<choice>
					<ref name="xhtml.link"/>
					<ref name="xhtml.meta"/>
					<ref name="xhtml.style"/>
					<ref name="xhtml.script"/>
					<ref name="xhtml.source"/>
					<ref name="xhtml.sourcecode"/>
				</choice>
			</zeroOrMore>
		</define>
		
		<define name="xhtml.html">
			<element name="html">
				<ref name="xhtml.Common.attrib"/>
				<optional>
					<attribute name="version">
						<ref name="CDATA.datatype"/>
					</attribute>
				</optional>
				<element name="head">
					<ref name="xhtml.Common.attrib"/>
					<ref name="head.misc"/>
					<element name="title">
						<ref name="xhtml.Common.attrib"/>
						<ref name="xhtml.Text.model"/>
					</element>
					<ref name="head.misc"/>
				</element>
				<element name="body">
					<ref name="xhtml.Common.attrib"/>
					<zeroOrMore>
						<choice>
							<ref name="xhtml.frame.common.contents"/>
							<ref name="xhtml.main"/>
							<ref name="xhtml.frame"/>
						</choice>
					</zeroOrMore>
				</element>
			</element>
		</define>
	</div>
	<x:h1>frameクラス</x:h1>
	<div>
		<define name="xhtml.frame">
			<element name="frame">
				<ref name="xhtml.Common.attrib"/>
				<zeroOrMore>
					<choice>
						<ref name="xhtml.frame.common.contents"/>
						<ref name="xhtml.main"/>
						<ref name="xhtml.frame"/>
					</choice>
				</zeroOrMore>
			</element>
		</define>
		<define name="xhtml.main">
			<element name="main">
				<ref name="xhtml.Structural.attrib"/>
				<ref name="xhtml.frame.common.contents"/>
			</element>
		</define>
		<define name="xhtml.frame.common.contents">
			<zeroOrMore>
				<choice>
					<ref name="xhtml.Structural.nosection.class"/>
					<ref name="xhtml.branch.class"/>
					<ref name="xhtml.article"/>
					<ref name="xhtml.section"/>
					<ref name="xhtml.nav"/>
					<ref name="xhtml.div"/>
				</choice>
			</zeroOrMore>
		</define>
	</div>
	
	<div>
		<x:h2>The address element</x:h2>
		<define name="xhtml.address">
			<element name="address">
				<ref name="xhtml.address.attlist"/>
				<ref name="xhtml.address.content"/>
			</element>
		</define>
		<define name="xhtml.address.attlist">
			<ref name="xhtml.Structural.attrib"/>
		</define>
		<define name="xhtml.address.content">
			<ref name="xhtml.Text.model"/>
		</define>
	</div>
	<div>
		<x:h2>The blockcode element</x:h2>
		<define name="xhtml.blockcode">
			<element name="blockcode">
				<ref name="xhtml.blockcode.attlist"/>
				<ref name="xhtml.blockcode.content"/>
			</element>
		</define>
		<define name="xhtml.blockcode.attlist">
			<ref name="xhtml.Structural.attrib"/>
		</define>
		<define name="xhtml.blockcode.content">
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="xhtml.Text.class"/>
					<ref name="xhtml.Heading.class"/>
					<ref name="xhtml.h"/>
					<ref name="xhtml.section"/>
					<ref name="xhtml.p"/>
					<ref name="xhtml.table"/>
					<ref name="xhtml.List.class"/>
					<ref name="xhtml.Misc.class"/>
				</choice>
			</zeroOrMore>
		</define>
	</div>
	<div>
		<x:h2>The blockquote element</x:h2>
		<define name="xhtml.blockquote">
			<element name="blockquote">
				<ref name="xhtml.Structural.attrib"/>
				<ref name="xhtml.section.class"/>
			</element>
		</define>
	</div>
	<div>
		<x:h2>The div element</x:h2>
		<define name="xhtml.div">
			<element name="div">
				<ref name="xhtml.Structural.attrib"/>
				<zeroOrMore>
					<choice>
						<ref name="xhtml.Structural.nosection.class"/>
						<ref name="xhtml.branch.class"/>
						<ref name="xhtml.div"/>
						<ref name="xhtml.section.class"/>
						<ref name="xhtml.Text.class"/>
					</choice>
				</zeroOrMore>
			</element>
		</define>
	</div>
	<div>
		<x:h2>The heading element</x:h2>
		<define name="xhtml.h">
			<element name="h">
				<ref name="xhtml.h.attlist"/>
				<text></text>
			</element>
		</define>
		<define name="xhtml.h.attlist">
			<optional>
				<attribute name="importance"></attribute>
			</optional>
			<ref name="xhtml.Structural.attrib"/>
		</define>
	</div>
	<div>
		<x:h2>The pre element</x:h2>
		<define name="xhtml.pre">
			<element name="pre">
				<ref name="xhtml.pre.attlist"/>
				<ref name="xhtml.pre.content"/>
			</element>
		</define>
		<define name="xhtml.pre.attlist">
			<ref name="xhtml.Structural.attrib"/>
		</define>
		<define name="xhtml.pre.content">
			<ref name="xhtml.Text.model"/>
		</define>
	</div>
	
	<div>
		<define name="xhtml.branch.content">
			<zeroOrMore>
				<choice>
					<ref name="xhtml.Structural.nosection.class"/>
					<ref name="xhtml.h"/>
					<ref name="xhtml.p"/>
					<ref name="xhtml.l"/>
					<ref name="xhtml.div"/>
				</choice>
			</zeroOrMore>
		</define>
		<define name="xhtml.aside">
			<element name="aside">
				<ref name="xhtml.Common.attrib" />
				<ref name="xhtml.branch.content"/>
			</element>
		</define>
		<define name="xhtml.header">
			<element name="header">
				<ref name="xhtml.Common.attrib" />
				<ref name="xhtml.branch.content"/>
			</element>
		</define>
		<define name="xhtml.footer">
			<element name="footer">
				<ref name="xhtml.Common.attrib" />
				<ref name="xhtml.branch.content"/>
			</element>
		</define>
	</div>
	<div>
		<define name="xhtml.nav">
			<element name="nav">
				<zeroOrMore>
					<ref name="xhtml.ul"></ref>
				</zeroOrMore>
			</element>
		</define>
	</div>
	
	<div>
		<x:h1></x:h1>
		<define name="xhtml.section.class">
			<zeroOrMore>
				<choice>
					<ref name="xhtml.p"/>
					<ref name="xhtml.section"/>
					<ref name="xhtml.article"/>
				</choice>
			</zeroOrMore>
		</define>
		<define name="xhtml.section.class.contents">
			<zeroOrMore>
				<choice>
					<ref name="xhtml.h"/>
					<ref name="xhtml.div"/>
					<ref name="xhtml.Structural.nosection.class"/>
				</choice>
			</zeroOrMore>
		</define>
		<x:h2>The article element</x:h2>
		<define name="xhtml.article">
			<element name="article">
				<ref name="xhtml.Structural.attrib"/>
				<zeroOrMore>
					<choice>
						<ref name="xhtml.section.class.contents"/>
						<ref name="xhtml.section.class"/>
						<ref name="xhtml.branch.class"/>
					</choice>
				</zeroOrMore>
			</element>
		</define>
		<x:h2>The section element</x:h2>
		<x:p></x:p>
		<define name="xhtml.section">
			<element name="section">
				<ref name="xhtml.Structural.attrib"/>
				<zeroOrMore>
					<choice>
						<ref name="xhtml.section.class.contents"/>
						<ref name="xhtml.section"/>
						<ref name="xhtml.p"/>
					</choice>
				</zeroOrMore>
			</element>
		</define>
		<x:h2>The p element</x:h2>
		<x:p>セクションクラスの末端となる段落</x:p>
		<define name="xhtml.p">
			<element name="p">
				<ref name="xhtml.Structural.attrib"/>
				<zeroOrMore>
					<choice>
						<ref name="xhtml.section.class.contents"/>
					</choice>
				</zeroOrMore>
			</element>
		</define>
		<define name="xhtml.p.attlist">
			<ref name="xhtml.Structural.attrib"/>
		</define>
	</div>
	
	<div>
		<x:h2>The separator element</x:h2>
		<define name="xhtml.separator">
			<element name="separator">
				<ref name="xhtml.Structural.attrib"/>
				<empty/>
			</element>
		</define>
	</div>
	
	<div>
		<x:h2>The l element</x:h2>
		<define name="xhtml.l">
			<element name="l">
				<ref name="xhtml.Structural.attrib"/>
				<ref name="xhtml.Text.model"/>
			</element>
		</define>
	</div>
	
	<div>
		<x:h2>Content Model</x:h2>
		<define name="xhtml.Heading.class">
			<choice>
				<ref name="xhtml.h"/>
			</choice>
		</define>
		<define name="xhtml.Structural.nosection.class">
			<choice>
				<ref name="xhtml.address"/>
				<ref name="xhtml.blockcode"/>
				<ref name="xhtml.blockquote"/>
				<ref name="xhtml.pre"/>
				<ref name="xhtml.separator"/>
				<ref name="xhtml.l"/>
				<ref name="xhtml.ol"/>
				<ref name="xhtml.dl"/>
				<ref name="xhtml.ul"/>
				<ref name="xhtml.table"/>
				<ref name="anyElement"/>
			</choice>
		</define>
		<define name="anyElement">
			<element>
				<anyName/>
				<zeroOrMore>
					<choice>
						<attribute>
							<anyName/>
						</attribute>
						<text/>
						<ref name="anyElement"/>
					</choice>
				</zeroOrMore>
			</element>
		</define>
		
		<define name="xhtml.branch.class">
			<zeroOrMore>
				<choice>
					<ref name="xhtml.aside"/>
					<ref name="xhtml.header"/>
					<ref name="xhtml.footer"/>
				</choice>
			</zeroOrMore>
		</define>
		
		<define name="xhtml.Flow.model">
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="xhtml.Heading.class"/>
					<ref name="xhtml.div"/>
					<ref name="xhtml.article"/>
					<ref name="xhtml.aside"/>
					<ref name="xhtml.header"/>
					<ref name="xhtml.footer"/>
					<ref name="xhtml.h"/>
					<ref name="xhtml.section"/>
					<ref name="xhtml.p"/>
					<ref name="xhtml.Structural.nosection.class"/>
					<ref name="xhtml.Text.class"/>
					<ref name="xhtml.Misc.class"/>
				</choice>
			</zeroOrMore>
		</define>
		<define name="xhtml.Structural.attrib" combine="interleave">
			<ref name="xhtml.Common.attrib" />
		</define>
	</div>
	<x:h1>Text Module</x:h1>
	<div>
		<x:h2>The meter element</x:h2>
		<define name="xhtml.meter">
			<element name="meter">
				<ref name="xhtml.Text.attrib"/>
				<ref name="xhtml.Text.model"/>
			</element>
		</define>
	</div>
	<div>
		<x:p>these can occur at Structural or Text level</x:p>
		<define name="xhtml.Misc.class">
			<empty/>
		</define>                                     
	</div>
	<div>
		<define name="inline.group">
			<ref name="xhtml.Text.model"/>
		</define>
	</div>
	<div>
		<x:h2>Content Model</x:h2>
		<define name="xhtml.Text.class">
			<choice>
				<element name="abbr">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="cite">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="code">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="f">
					<ref name="xhtml.Text.attrib"/>
					<optional>
						<attribute name="i">
							<value>i</value>
						</attribute>
					</optional>
					<optional>
						<attribute name="b">
							<value>b</value>
						</attribute>
					</optional>
					<ref name="inline.group"/>
				</element>
				<element name="dfn">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="em">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="kbd">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="quote">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="samp">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="span">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="strong">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="sub">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="sup">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="var">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<element name="mark">
					<ref name="xhtml.Text.attrib"/>
					<ref name="inline.group"/>
				</element>
				<ref name="xhtml.meter"/>
				<ref name="xhtml.link"/>
			</choice>
		</define>
		<define name="xhtml.Text.model">
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="xhtml.Text.class"/>
					<ref name="xhtml.Misc.class"/>
				</choice>
			</zeroOrMore>
		</define>
		<define name="xhtml.Text.attrib" combine="interleave">
			<ref name="xhtml.Common.attrib"/>
		</define>
	</div>

	
	<div>
		<x:h2>The caption element</x:h2>
		<define name="xhtml.caption">
			<element name="caption">
				<ref name="xhtml.Text.attrib"/>
				<ref name="xhtml.Text.model"/>
			</element>
		</define>
	</div>
	
	<x:h1>List Module</x:h1>
	<div>
		
		<x:h2>The dl element</x:h2>
		<define name="xhtml.dl">
			<element name="dl">
				<ref name="xhtml.Common.attrib"/>
				<optional>
					<ref name="xhtml.caption"/>
				</optional>
				<oneOrMore>
					<ref name="xhtml.di"/>
				</oneOrMore>
			</element>
		</define>
	</div>
	<div>
		<x:h2>The di element</x:h2>
		<define name="xhtml.di">
			<element name="di">
				<ref name="xhtml.Common.attrib"/>
				<oneOrMore>
					<element name="dt">
						<ref name="xhtml.Common.attrib"/>
						<ref name="xhtml.Text.model"/>
					</element>
				</oneOrMore>
				<zeroOrMore>
					<element name="dd">
						<ref name="xhtml.Common.attrib"/>
						<ref name="xhtml.Flow.model"/>
					</element>
				</zeroOrMore>
			</element>
		</define>
	</div>
	
	<div>
		<x:h2>The ol element</x:h2>
		<define name="xhtml.ol">
			<element name="ol">
				<ref name="xhtml.ol.attlist"/>
				<ref name="xhtml.ol.content"/>
			</element>
		</define>
		<define name="xhtml.ol.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.ol.content">
			<optional>
				<ref name="xhtml.caption"/>
			</optional>
			<oneOrMore>
				<ref name="xhtml.li-in-ol"/>
			</oneOrMore>
		</define>
	</div>
	<div>
		<x:h2>The ul element</x:h2>
		<define name="xhtml.ul">
			<element name="ul">
				<ref name="xhtml.ul.attlist"/>
				<ref name="xhtml.ul.content"/>
			</element>
		</define>
		<define name="xhtml.ul.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.ul.content">
			<optional>
				<ref name="xhtml.caption"/>
			</optional>
			<oneOrMore>
				<ref name="xhtml.li"/>
			</oneOrMore>
		</define>
	</div>
	<div>
		<x:h2>The li element</x:h2>
		<define name="xhtml.li">
			<element name="li">
				<ref name="xhtml.li.attlist"/>
				<ref name="xhtml.li.content"/>
			</element>
		</define>
		<define name="xhtml.li.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.li.content">
			<ref name="xhtml.Flow.model"/>
		</define>
		<define name="xhtml.li-in-ol">
			<element name="li">
				<ref name="xhtml.li-in-ol.attlist"/>
				<ref name="xhtml.li.content"/>
			</element>
		</define>
		<define name="xhtml.li-in-ol.attlist">
			<ref name="xhtml.li.attlist"/>
			<ref name="xhtml.li-in-ol.value.attrib"/>
		</define>
		<define name="xhtml.li-in-ol.value.attrib">
			<optional>
				<attribute name="value">
					<ref name="Number.datatype"/>
				</attribute>
			</optional>
		</define>
	</div>
	<div>
		<x:h2>List Content Set</x:h2>
		<define name="xhtml.List.class">
			<choice>
				<ref name="xhtml.dl"/>
				<ref name="xhtml.ol"/>
				<ref name="xhtml.ul"/>
			</choice>
		</define>
	</div>

	
	<x:h1>Hypertext Attributes Module</x:h1>
	<div>
		<x:h2>Hypertext Attributes Collection</x:h2>
		<define name="xhtml.cite.attrib">
			<attribute name="cite">
				<ref name="URI.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.href.attrib">
			<attribute name="href">
				<ref name="URI.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.hreflang.attrib">
			<attribute name="hreflang">
				<ref name="LanguageCodes.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.hrefmedia.attrib">
			<attribute name="hrefmedia">
				<ref name="MediaDesc.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.hreftype.attrib">
			<attribute name="hreftype">
				<ref name="ContentTypes.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.nextfocus.attrib">
			<attribute name="nextfocus">
				<ref name="IDREF.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.prevfocus.attrib">
			<attribute name="prevfocus">
				<ref name="IDREF.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.target.attrib">
			<attribute name="target">
				<ref name="HrefTarget.datatype"/>
			</attribute>
		</define>
		<define name="xml.base.attrib">
			<attribute name="xml:base">
				<ref name="URI.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.Hypertext.attrib">
			<optional>
				<ref name="xhtml.cite.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.href.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.hreflang.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.hrefmedia.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.hreftype.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.nextfocus.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.prevfocus.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.target.attrib"/>
			</optional>
			<optional>
				<ref name="xml.base.attrib"/>
			</optional>
		</define>
	</div>
	<!--
	<define name="xhtml.Common.attrib" combine="interleave">
		<ref name="xhtml.Hypertext.attrib"/>
	</define>-->
	<x:h1>I18N Attribute Module</x:h1>
	<div>
		<x:h2>I18N Attribute Collection</x:h2>
		<define name="xml.lang.attrib">
			<attribute name="xml:lang">
				<ref name="LanguageCode.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.I18n.attrib">
			<optional>
				<ref name="xml.lang.attrib"/>
			</optional>
		</define>
	</div>
	<define name="xhtml.Common.attrib" combine="interleave">
		<ref name="xhtml.I18n.attrib"/>
	</define>
	<x:h1>Access Module</x:h1>
	<div>
		<x:h2>The access element</x:h2>
		<define name="xhtml.access">
			<element name="access">
				<empty />
				<ref name="xhtmlAccess.attlist"/>
			</element>
		</define>
		<define name="xhtmlAccess.attlist">
			<ref name="xhtml.Common.attrib"/>
			<ref name="xhtmlAccess.activate.attrib"/>
			<ref name="xhtmlAccess.key.attrib"/>
			<ref name="xhtmlAccess.order.attrib"/>
			<ref name="xhtmlAccess.targetid.attrib"/>
			<ref name="xhtmlAccess.targetrole.attrib"/>
		</define>
		<define name="xhtmlAccess.activate.attrib">
			<optional>
        <!-- a:defaultValue="false" -->
				<attribute name="activate">
					<choice>
						<value>true</value>
						<value>false</value>
					</choice>
				</attribute>
			</optional>
		</define>
		<define name="xhtmlAccess.key.attrib">
			<optional>
				<attribute name="key">
					<ref name="Characters.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="xhtmlAccess.order.attrib">
			<optional>
        <!-- a:defaultValue="document" -->
				<attribute name="order">
					<choice>
						<value>document</value>
						<value>list</value>
					</choice>
				</attribute>
			</optional>
		</define>
		<define name="xhtmlAccess.targetid.attrib">
			<optional>
				<attribute name="targetid">
					<ref name="IDREF.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="xhtmlAccess.targetrole.attrib">
			<optional>
				<attribute name="targetrole">
					<ref name="CURIEs.datatype"/>
				</attribute>
			</optional>
		</define>
	</div>
	<x:h1>Bi-directional Text Attribute Module</x:h1>
	<div>
		<x:h2>Bi-directional Text Collection</x:h2>
		<define name="xhtml.dir.attrib">
			<optional>
        <!-- a:defaultValue="ltr" -->
				<attribute name="dir">
					<choice>
						<value>ltr</value>
						<value>rtl</value>
						<value>lro</value>
						<value>rlo</value>
					</choice>
				</attribute>
			</optional>
		</define>
		<define name="xhtml.Bidi.attrib">
			<ref name="xhtml.dir.attrib"/>
		</define>
	</div>
	<define name="xhtml.Common.attrib" combine="interleave">
		<ref name="xhtml.Bidi.attrib"/>
	</define>
	
	<x:h1>Edit Attribute Module</x:h1>
	<div>
		<x:h2>Edit Collection</x:h2>
		<define name="xhtml.edit.attrib">
			<attribute name="edit">
				<choice>
					<value>inserted</value>
					<value>deleted</value>
					<value>changed</value>
					<value>moved</value>
				</choice>
			</attribute>
		</define>
		<define name="xhtml.datetime.attrib">
			<attribute name="datetime">
				<ref name="Datetime.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.Edit.attrib">
			<optional>
				<ref name="xhtml.edit.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.datetime.attrib"/>
			</optional>
		</define>
	</div>
	<define name="xhtml.Common.attrib" combine="interleave">
		<ref name="xhtml.Edit.attrib"/>
	</define>
	<x:h1>Embedding Attributes Module</x:h1>
	<div>
		<x:h2>Embedding Attributes Collection</x:h2>
		<define name="xhtml.src.attrib">
			<attribute name="src">
				<ref name="URI.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.encoding.attrib">
			<attribute name="encoding">
				<ref name="Encodings.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.srctype.attrib">
			<attribute name="srctype">
				<ref name="ContentTypes.datatype"/>
			</attribute>
		</define>
		<define name="xhtml.Embedding.attrib">
			<optional>
				<ref name="xhtml.src.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.encoding.attrib"/>
			</optional>
			<optional>
				<ref name="xhtml.srctype.attrib"/>
			</optional>
		</define>
	</div>
	<define name="xhtml.Common.attrib" combine="interleave">
		<ref name="xhtml.Embedding.attrib"/>
	</define>
	

	<div>
		<x:h2>The link element</x:h2>
		<define name="xhtml.link">
			<element name="link">
				<ref name="xhtml.Common.attrib"/>
				<ref name="xhtml.Hypertext.attrib"/>
				<ref name="xhtml.Text.model"/>
			</element>
		</define>
	</div>
	
	<x:h1>Object Module</x:h1>
	<x:p>Note. Also include the Caption Module when this module is used.</x:p>
	<div>
		<x:h2>The object element</x:h2>
		<define name="xhtml.object">
			<element name="object">
				<ref name="xhtml.object.attlist"/>
				<ref name="xhtml.object.content"/>
			</element>
		</define>
		<define name="xhtml.object.attlist">
			<ref name="xhtml.Common.attrib"/>
			<optional>
				<attribute name="archive">
					<ref name="URIs.datatype"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="content-length">
					<ref name="Number.datatype"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="declare">
					<value>declare</value>
				</attribute>
			</optional>
		</define>
		<define name="xhtml.object.content">
			<optional>
				<ref name="xhtml.caption"/>
			</optional>
			<optional>
				<ref name="xhtml.standby"/>
			</optional>
			<zeroOrMore>
				<ref name="xhtml.param"/>
			</zeroOrMore>
			<ref name="xhtml.Flow.model"/>
		</define>
	</div>
	<div>
		<x:h2>The param element</x:h2>
		<define name="xhtml.param">
			<element name="param">
				<ref name="xhtml.param.attlist"/>
				<ref name="xhtml.param.model"/>
			</element>
		</define>
		<define name="xhtml.param.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.param.model">
			<ref name="xhtml.Text.model"/>
		</define>
	</div>
	<div>
		<x:h2>The standby element</x:h2>
		<define name="xhtml.standby">
			<element name="standby">
				<ref name="xhtml.standby.attlist"/>
				<ref name="xhtml.standby.model"/>
			</element>
		</define>
		<define name="xhtml.standby.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.standby.model">
			<ref name="xhtml.Text.model"/>
		</define>
	</div>
	<define name="xhtml.Text.class" combine="choice">
		<ref name="xhtml.object"/>
	</define>
	
	<x:h1>Tables Module</x:h1>
	<x:p>Note. Also include the Caption Module when this module is used.</x:p>
	<div>
		<x:h2>The table element</x:h2>
		<define name="xhtml.table">
			<element name="table">
				<ref name="xhtml.Common.attrib"/>
				<optional>
					<ref name="xhtml.caption"/>
				</optional>
				<optional>
					<ref name="xhtml.summary"/>
				</optional>
				<choice>
					<zeroOrMore>
						<ref name="xhtml.col"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="xhtml.colgroup"/>
					</zeroOrMore>
				</choice>
				<choice>
					<group>
						<optional>
							<ref name="xhtml.thead"/>
						</optional>
						<optional>
							<ref name="xhtml.tfoot"/>
						</optional>
						<oneOrMore>
							<ref name="xhtml.tbody"/>
						</oneOrMore>
					</group>
					<oneOrMore>
						<ref name="xhtml.tr"/>
					</oneOrMore>
				</choice>
			</element>
		</define>
	</div>
	<div>
		<x:h2>The summary element</x:h2>
		<define name="xhtml.summary">
			<element name="summary">
				<ref name="xhtml.summary.attlist"/>
				<ref name="xhtml.summary.content"/>
			</element>
		</define>
		<define name="xhtml.summary.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.summary.content">
			<ref name="xhtml.Flow.model"/>
		</define>
	</div>
	<div>
		<x:h2>The col element</x:h2>
		<define name="xhtml.col">
			<element name="col">
				<ref name="xhtml.col.attlist"/>
			</element>
		</define>
		<define name="xhtml.col.attlist">
			<ref name="xhtml.Common.attrib"/>
			<ref name="xhtml.span.attrib"/>
		</define>
	</div>
	<div>
		<x:h2>The colgroup element</x:h2>
		<define name="xhtml.colgroup">
			<element name="colgroup">
				<ref name="xhtml.colgroup.attlist"/>
				<ref name="xhtml.colgroup.content"/>
			</element>
		</define>
		<define name="xhtml.colgroup.attlist">
			<ref name="xhtml.Common.attrib"/>
			<ref name="xhtml.span.attrib"/>
		</define>
		<define name="xhtml.colgroup.content">
			<zeroOrMore>
				<ref name="xhtml.col"/>
			</zeroOrMore>
		</define>
	</div>
	<div>
		<x:h2>The thead element</x:h2>
		<define name="xhtml.thead">
			<element name="thead">
				<ref name="xhtml.thead.attlist"/>
				<ref name="xhtml.thead.content"/>
			</element>
		</define>
		<define name="xhtml.thead.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.thead.content">
			<oneOrMore>
				<ref name="xhtml.tr"/>
			</oneOrMore>
		</define>
	</div>
	<div>
		<x:h2>The tfoot element</x:h2>
		<define name="xhtml.tfoot">
			<element name="tfoot">
				<ref name="xhtml.tfoot.attlist"/>
				<ref name="xhtml.tfoot.content"/>
			</element>
		</define>
		<define name="xhtml.tfoot.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.tfoot.content">
			<oneOrMore>
				<ref name="xhtml.tr"/>
			</oneOrMore>
		</define>
	</div>
	<div>
		<x:h2>The tbody element</x:h2>
		<define name="xhtml.tbody">
			<element name="tbody">
				<ref name="xhtml.tbody.attlist"/>
				<ref name="xhtml.tbody.content"/>
			</element>
		</define>
		<define name="xhtml.tbody.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.tbody.content">
			<oneOrMore>
				<ref name="xhtml.tr"/>
			</oneOrMore>
		</define>
	</div>
	<div>
		<x:h2>The tr element</x:h2>
		<define name="xhtml.tr">
			<element name="tr">
				<ref name="xhtml.tr.attlist"/>
				<ref name="xhtml.tr.content"/>
			</element>
		</define>
		<define name="xhtml.tr.attlist">
			<ref name="xhtml.Common.attrib"/>
		</define>
		<define name="xhtml.tr.content">
			<oneOrMore>
				<choice>
					<ref name="xhtml.th"/>
					<ref name="xhtml.td"/>
				</choice>
			</oneOrMore>
		</define>
	</div>
	<div>
		<x:h2>The th element</x:h2>
		<define name="xhtml.th">
			<element name="th">
				<ref name="xhtml.th.attlist"/>
				<ref name="xhtml.th.content"/>
			</element>
		</define>
		<define name="xhtml.th.attlist">
			<ref name="xhtml.Cell.attrib"/>
		</define>
		<define name="xhtml.th.content">
			<ref name="xhtml.Flow.model"/>
		</define>
	</div>
	<div>
		<x:h2>The td element</x:h2>
		<define name="xhtml.td">
			<element name="td">
				<ref name="xhtml.td.attlist"/>
				<ref name="xhtml.td.content"/>
			</element>
		</define>
		<define name="xhtml.td.attlist">
			<ref name="xhtml.Cell.attrib"/>
		</define>
		<define name="xhtml.td.content">
			<ref name="xhtml.Flow.model"/>
		</define>
	</div>
	<div>
		<x:h2>Attribute definitions</x:h2>
		<define name="xhtml.span.attrib">
			<optional>
        <!-- a:defaultValue="1" -->
				<attribute name="span">
					<ref name="spanNumber.datatype"/>
				</attribute>
			</optional>
		</define>
		<define name="xhtml.Cell.attrib">
			<ref name="xhtml.Common.attrib"/>
			<optional>
				<attribute name="abbr">
					<ref name="Text.datatype"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="axis"/>
			</optional>
			<optional>
        <!-- a:defaultValue="1" -->
				<attribute name="colspan">
					<ref name="Number.datatype"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="headers">
					<ref name="IDREFS.datatype"/>
				</attribute>
			</optional>
			<optional>
        <!-- a:defaultValue="1" -->
				<attribute name="rowspan">
					<ref name="Number.datatype"/>
				</attribute>
			</optional>
			<ref name="xhtml.scope.attrib"/>
		</define>
		<define name="xhtml.scope.attrib">
			<optional>
				<attribute name="scope">
					<choice>
						<value>row</value>
						<value>col</value>
						<value>rowgroup</value>
						<value>colgroup</value>
					</choice>
				</attribute>
			</optional>
		</define>
	</div>
	
	<x:h1>Datatypes Module</x:h1>
	<div>
		<x:h2>Datatypes defined in XML 1.0</x:h2>
		<define name="CDATA.datatype">
			<text/>
		</define>
		<define name="ID.datatype">
			<data type="ID"/>
		</define>
		<define name="IDREF.datatype">
			<data type="IDREF"/>
		</define>
		<define name="IDREFS.datatype">
			<data type="IDREFS"/>
		</define>
		<define name="NAME.datatype">
			<data type="Name"/>
		</define>
		<define name="NMTOKEN.datatype">
			<data type="NMTOKEN"/>
		</define>
		<define name="NMTOKENS.datatype">
			<data type="NMTOKENS"/>
		</define>
	</div>
	<div>
		<x:h2>CURIE Datatypes</x:h2>
		<define name="CURIE.datatype">
			<x:p>A single curie</x:p>
			<data type="string">
				<param name="pattern">(([\i-[:]][\c-[:]]*)?:)?.+</param>
				<param name="minLength">1</param>
			</data>
		</define>
		<define name="CURIEs.datatype">
			<x:p>A whitespace separated list of CURIEs</x:p>
			<list>
				<oneOrMore>
					<ref name="CURIE.datatype"/>
				</oneOrMore>
			</list>
		</define>
		<define name="SafeCURIE.datatype">
			<x:p>A single safe_curie</x:p>
			<data type="string">
				<param name="pattern">\[(([\i-[:]][\c-[:]]*)?:)?.+\]</param>
				<param name="minLength">3</param>
			</data>
		</define>
		<define name="SafeCURIEs.datatype">
			<x:p>A whitespace separated list of SafeCURIEs</x:p>
			<list>
				<oneOrMore>
					<ref name="SafeCURIE.datatype"/>
				</oneOrMore>
			</list>
		</define>
		<define name="URIorSafeCURIE.datatype">
			<x:p>A URI or a SafeCURIE (since you need a SafeCURIE 
				to disambiguate between a common URI and a CURIE)</x:p>
			<choice>
				<ref name="URI.datatype"/>
				<ref name="CURIE.datatype"/>
			</choice>
		</define>
		<define name="URIorSafeCURIEs.datatype">
			<x:p>A whitespace separated list of URIorSafeCURIEs</x:p>
			<list>
				<oneOrMore>
					<ref name="URIorSafeCURIE.datatype"/>
				</oneOrMore>
			</list>
		</define>
	</div>
	<div>
		<x:h2>Additional Datatypes</x:h2>
		<define name="Character.datatype">
			<x:p>A single character, as per section 2.2 of [XML].</x:p>
			<data type="string">
				<param name="length">1</param>
			</data>
		</define>
		<define name="Characters.datatype">
			<data type="string"/>
		</define>
		<define name="Charset.datatype">
			<x:p>A character encoding, as per [RFC2045]</x:p>
			<text/>
		</define>
		<define name="Encodings.datatype">
			<x:p>A comma-separated list of 'charset's with optional q parameters,
				as defined in section 14.2 of [RFC2616] as the field value of
				the Accept-Charset request header.</x:p>
			<text/>
		</define>
		<define name="ContentType.datatype">
			<x:p>Media type, as per [RFC2045]</x:p>
			<text/>
		</define>
		<define name="ContentTypes.datatype">
			<x:p>A list of media ranges with optional accept parameters,
				as defined in section 14.1 of [RFC2616] as the field value
				of the accept request header.</x:p>
			<text/>
		</define>
		<define name="Coordinates.datatype">
			<x:p>Comma separated list of Lengths used in defining areas.</x:p>
			<data type="string">
				<param name="pattern">(\d+|\d+(\.\d+)?%)(,\s*(\d+|\d+(\.\d+)?%))*</param>
			</data>
		</define>
		<define name="Datetime.datatype">
			<x:p>Date and time information, as defined by the type dateTime
				in [XMLSCHEMA].</x:p>
			<data type="dateTime"/>
		</define>
		<define name="HrefTarget.datatype">
			<x:p>Name used as destination for results of certain actions.</x:p>
			<ref name="NMTOKEN.datatype"/>
		</define>
		<define name="LanguageCode.datatype">
			<x:p>A language code, as per [RFC3066].</x:p>
			<data type="language"/>
		</define>
		<define name="LanguageCodes.datatype">
			<x:p>A comma-separated list of language ranges.</x:p>
			<text/>
		</define>
		<define name="Length.datatype">
			<x:p>The value may be either in pixels or a percentage of the available
				horizontal or vertical space. Thus, the value "50%" means half of
				the available space.</x:p>
			<data type="string">
				<param name="pattern">(\d+|\d+(\.\d+)?%)</param>
			</data>
		</define>
		<define name="LocationPath.datatype">
			<x:p>A location path as defined in [XPATH].</x:p>
			<text/>
		</define>
		<define name="MediaDesc.datatype">
			<x:p>A comma-separated list of media descriptors as described by [CSS].
				The default is all.</x:p>
			<data type="string">
				<param name="pattern">[^,]+(,\s*[^,]+)*</param>
			</data>
		</define>
		<define name="Number.datatype">
			<x:p>One or more digits (NUMBER).</x:p>
			<data type="nonNegativeInteger">
				<param name="pattern">[0-9]+</param>
			</data>
		</define>
		<define name="spanNumber.datatype">
			<x:p>span: this attribute value must be an integer > 0;
				the default value is 1.</x:p>
			<data type="positiveInteger">
				<param name="pattern">[0-9]+</param>
			</data>
		</define>
		<define name="QName.datatype">
			<x:p>An [XMLNS]-qualified name.</x:p>
			<data type="QName"/>
		</define>
		<define name="QNames.datatype">
			<x:p>One or more white space separated QName values.</x:p>
			<list>
				<oneOrMore>
					<data type="QName"/>
				</oneOrMore>
			</list>
		</define>
		<define name="prefixedQName.datatype">
			<x:p>An [XMLNS]-qualified name.</x:p>
			<data type="QName">
				<param name="pattern">[\i-[:]][\c-[:]]*:[\i-[:]][\c-[:]]*</param>
			</data>
		</define>
		<define name="Shape.datatype">
			<x:p>The shape of a region.</x:p>
			<choice>
				<value>default</value>
				<value>rect</value>
				<value>circle</value>
				<value>poly</value>
			</choice>
		</define>
		<define name="Text.datatype">
			<x:p>Arbitrary textual data, likely meant to be human-readable.</x:p>
			<text/>
		</define>
		<define name="URI.datatype">
			<x:p>A Uniform Resource Identifier Reference, as defined by the type
				anyURI in [XMLSCHEMA].</x:p>
			<data type="anyURI"/>
		</define>
		<define name="URIs.datatype">
			<x:p>A space-separated list of URIs as defined above.</x:p>
			<list>
				<oneOrMore>
					<ref name="URI.datatype"/>
				</oneOrMore>
			</list>
		</define>
		<define name="Boolean.datatype">
			<choice>
				<value>true</value>
				<value>false</value>
			</choice>
		</define>
	</div>
</grammar>