files/xml/xsd/v1/java.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bbwtest.info/ns/java"
        xmlns:tns="http://www.bbwtest.info/ns/java" elementFormDefault="qualified">

    <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>

    <attributeGroup name="final.attr">
        <attribute name="final" type="boolean"/>
    </attributeGroup>

    <attributeGroup name="static.attr">
        <attribute name="static" type="boolean"/>
    </attributeGroup>

    <attributeGroup name="name.attr">
        <attribute name="name" type="NCName" use="required"/>
    </attributeGroup>

    <attributeGroup name="public.attr">
        <attribute name="public" type="boolean" default="false"/>
    </attributeGroup>

    <simpleType name="reference-type.type">
        <restriction base="string"/>
    </simpleType>

    <attributeGroup name="refecence-type.attr">
        <attribute name="reference-type" type="tns:reference-type.type"/>
    </attributeGroup>

    <simpleType name="type.type">
        <restriction base="string"/>
    </simpleType>

    <attributeGroup name="type.attr">
        <attribute name="type" type="tns:type.type"/>
    </attributeGroup>

    <attributeGroup name="object.attr.group">
        <attributeGroup ref="tns:final.attr"/>
        <attributeGroup ref="tns:static.attr"/>
    </attributeGroup>

    <attributeGroup name="access-modifier.attr">
        <attribute name="access-modifier" default="packaged" type="tns:access.modifier.type"/>
    </attributeGroup>

    <simpleType name="access.modifier.type">
        <restriction base="string">
            <enumeration value="public"/>
            <enumeration value="protected"/>
            <enumeration value="packaged"/>
            <enumeration value="private"/>
        </restriction>
    </simpleType>

    <simpleType name="primitive.type">
        <restriction base="string">
            <enumeration value="int"/>
            <enumeration value="short"/>
            <enumeration value="byte"/>
            <enumeration value="long"/>
            <enumeration value="float"/>
            <enumeration value="double"/>
            <enumeration value="boolean"/>
        </restriction>
    </simpleType>

    <attributeGroup name="return">
        <annotation>
            <documentation/>
        </annotation>
        <attribute name="return" type="Name"/>
    </attributeGroup>

    <element name="documentation">
        <complexType mixed="true">
            <sequence maxOccurs="unbounded" minOccurs="0">
                <any/>
            </sequence>
        </complexType>
    </element>

    <complexType name="ref.annotation.type">
        <sequence>
            <element name="element" maxOccurs="unbounded" minOccurs="0">
                <complexType>
                    <attribute name="name"/>
                    <attribute name="value"/>
                </complexType>
            </element>
        </sequence>
        <attribute name="name"/>
    </complexType>

    <group name="documents">
        <sequence>
            <element ref="tns:documentation" maxOccurs="1" minOccurs="0"/>
            <element name="annotation" type="tns:ref.annotation.type" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </group>

    <!-- member -->
    <complexType name="member.abst.type" abstract="true">
        <attributeGroup ref="tns:access-modifier.attr"/>
        <attributeGroup ref="tns:final.attr"/>
    </complexType>

    <complexType name="field.abst.type">
        <group ref="tns:documents"/>
        <attributeGroup ref="tns:name.attr"/>
        <attributeGroup ref="tns:type.attr"/>
        <attribute name="init" type="string"/>
    </complexType>

    <element name="constant" type="tns:field.abst.type"/>

    <complexType name="field.type">
        <complexContent>
            <extension base="tns:field.abst.type">
                <attributeGroup ref="tns:final.attr"/>
                <attributeGroup ref="tns:static.attr"/>
                <attributeGroup ref="tns:access-modifier.attr"/>
                <attribute name="transient" type="boolean"/>
                <attribute name="volatile" type="boolean"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="method.type">
        <group ref="tns:documents"/>
        <attributeGroup ref="tns:name.attr"/>
        <attributeGroup ref="tns:return"/>
        <attribute name="override" type="boolean"/>
    </complexType>

    <complexType name="interface.method.type">
        <complexContent>
            <extension base="tns:method.type"/>
        </complexContent>
    </complexType>

    <complexType name="interface.property.type"/>

    <group name="interface.member.group">
        <choice>
            <element ref="tns:constant"/>
            <element name="method" type="tns:interface.method.type"/>
            <element name="property" type="tns:interface.property.type"/>
        </choice>
    </group>

    <complexType name="class.field.type">
        <complexContent>
            <extension base="tns:field.type"/>
        </complexContent>
    </complexType>
    <complexType name="class.method.type"/>

    <group name="class.member.group">
        <choice>
            <element name="field" type="tns:class.field.type"/>
            <element ref="tns:method"/>
            <element ref="tns:property"/>
        </choice>
    </group>

    <group name="interface.content.group">
        <choice>
            <group ref="tns:interface.member.group"/>
            <group ref="tns:inner.class.group"/>
        </choice>
    </group>

    <group name="class.content.group">
        <choice>
            <group ref="tns:class.member.group"/>
            <group ref="tns:inner.class.group"/>
            <element ref="tns:constructor"/>
        </choice>
    </group>

    <element name="param">
        <complexType>
            <group ref="tns:documents"/>
            <attributeGroup ref="tns:name.attr"/>
            <attributeGroup ref="tns:type.attr"/>
            <attributeGroup ref="tns:final.attr"/>
            <attribute name="notnull" type="boolean" default="false"/>
        </complexType>
    </element>

    <element name="varparams">
        <complexType>
            <group ref="tns:documents"/>
            <attributeGroup ref="tns:name.attr"/>
            <attributeGroup ref="tns:type.attr"/>
        </complexType>
    </element>

    <complexType name="ref.exception.type">
        <sequence>
            <element ref="tns:documentation"/>
        </sequence>
        <attributeGroup ref="tns:type.attr"/>
    </complexType>


    <group name="restriction.group">
        <choice>
            <element name="extends" type="string"></element>
            <element name="super" type="string"></element>
        </choice>
    </group>

    <element name="type-param">
        <complexType>
            <group ref="tns:restriction.group"></group>
            <attributeGroup ref="tns:name.attr"/>
        </complexType>
    </element>

    <group name="method.info.group">
        <sequence>
            <element ref="tns:type-param" maxOccurs="unbounded" minOccurs="0"/>
            <element ref="tns:param" minOccurs="0" maxOccurs="unbounded"/>
            <element ref="tns:varparams" minOccurs="0" maxOccurs="1"/>
            <element name="throws" type="tns:ref.exception.type"/>
        </sequence>
    </group>

    <group name="info.group">
        <choice>
            <element ref="tns:documentation"/>
        </choice>
    </group>

    <element name="infomation">
        <complexType>
            <sequence>

                <element name="author"/>
                <element name="category"></element>
                <element name="reference"></element>

                <element name="created"/>
                <element name="last-modified"/>
                <element name="version"></element>
                <element name="deprecated"/>
            </sequence>
        </complexType>
    </element>

    <element name="constructor">
        <complexType>
            <group ref="tns:method.info.group"/>
            <attributeGroup ref="tns:access-modifier.attr"/>
        </complexType>
    </element>

    <element name="method">
        <complexType>
            <group ref="tns:method.info.group"/>
            <attributeGroup ref="tns:return"/>
            <attributeGroup ref="tns:access-modifier.attr"/>
        </complexType>
    </element>

    <element name="property">
        <complexType>
            <attributeGroup ref="tns:name.attr"/>
            <attributeGroup ref="tns:type.attr"/>
        </complexType>
    </element>

    <group name="class.ref.group">
        <sequence>
            <element name="class" type="string"/>
        </sequence>
    </group>
    <!-- /member -->

    <!-- class -->

    <group name="inner.class.group">
        <choice>
            <element name="class" type="tns:class.type"/>
            <element name="interface" type="tns:interface.type"/>
            <element name="enum" type="tns:enum.type"/>
        </choice>
    </group>

    <complexType name="enum.element.type">
        <attributeGroup ref="tns:name.attr"/>
        <attribute name="number" type="int"/>
        <attribute name="string" type="string"/>
    </complexType>

    <complexType name="enum.type">
        <sequence>
            <element name="element" type="tns:enum.element.type" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="interface.type">
        <sequence>
            <element ref="tns:type-param" maxOccurs="unbounded" minOccurs="0"/>
            <element ref="tns:base" maxOccurs="unbounded" minOccurs="0"></element>
        </sequence>
    </complexType>

    <element name="base">
        <complexType>
            <sequence>
                <element name="type-arg" maxOccurs="unbounded" minOccurs="0"></element>
            </sequence>
            <attributeGroup ref="tns:name.attr"></attributeGroup>
        </complexType>
    </element>

    <group name="class.type.contents.group">
        <sequence>
            <element ref="tns:infomation" maxOccurs="1" minOccurs="0"/>
            <element ref="tns:type-param" maxOccurs="unbounded" minOccurs="0"/>
            <element ref="tns:base" maxOccurs="unbounded" minOccurs="0"></element>
            <group ref="tns:class.member.group" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
    </group>

    <attributeGroup name="class.attr.group">
        <attribute name="thread-safe" type="boolean" default="false"/>
        <attribute name="immutable" type="boolean" default="false"/>
        <attribute name="singleton" type="boolean" default="false"/>
        <attribute name="serializable" type="boolean" default="false"/>
        <attribute name="depricated" type="boolean" default="false"/>
        <attribute name="clonable" type="boolean" default="false"/>
        <attribute name="design-pattern" type="string"/>
    </attributeGroup>

    <complexType name="class.type">
        <group ref="tns:class.type.contents.group"/>
        <attribute ref="xml:id"/>
        <attributeGroup ref="tns:name.attr"/>
        <attributeGroup ref="tns:public.attr"/>
        <attribute name="access" type="tns:access.modifier.type"/>
        <attributeGroup ref="tns:static.attr"/>
    </complexType>

    <simpleType name="annotation.element.type.type">
        <union memberTypes="tns:primitive.type">
            <simpleType>
                <restriction base="string">
                    <enumeration value="string"/>
                    <enumeration value="class"/>
                    <enumeration value="annotation"/>
                    <enumeration value="enum"/>
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <complexType name="annotation.element.type" abstract="true">
        <attributeGroup ref="tns:name.attr"/>
        <attribute name="type" type="tns:annotation.element.type.type"/>
    </complexType>

    <complexType name="atomic.annotation.element.type">
        <complexContent>
            <extension base="tns:annotation.element.type">
                <attribute name="default" type="string"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="array.annotation.element.type">
        <complexContent>
            <extension base="tns:annotation.element.type">
                <sequence>
                    <element name="default" type="string" maxOccurs="unbounded" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <group name="annotation.element.group">
        <choice>
            <element name="element" type="tns:atomic.annotation.element.type"/>
            <element name="array-element" type="tns:array.annotation.element.type"/>
        </choice>
    </group>

    <complexType name="annotation.type">
        <group ref="tns:annotation.element.group" minOccurs="0" maxOccurs="unbounded"/>
        <attributeGroup ref="tns:name.attr"/>
        <attribute name="documented" type="boolean"/>
        <attribute name="inherited" type="boolean"/>
        <attribute name="retention">
            <simpleType>
                <restriction base="string">
                    <enumeration value="source"/>
                    <enumeration value="class"/>
                    <enumeration value="runtime"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="target">
            <simpleType>
                <list>
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="type"/>
                            <enumeration value="field"/>
                            <enumeration value="method"/>
                            <enumeration value="constructor"/>
                            <enumeration value="parameter"/>
                            <enumeration value="local variable"/>
                        </restriction>
                    </simpleType>
                </list>
            </simpleType>
        </attribute>
    </complexType>

    <group name="class.group">
        <choice>
            <element name="class" type="tns:class.type"/>
            <element name="interface" type="tns:interface.type"/>
            <element name="enum" type="tns:enum.type">
                <unique name="name">
                    <selector xpath="tns:element"/>
                    <field xpath="@name"/>
                </unique>
                <unique name="number">
                    <selector xpath="tns:element"/>
                    <field xpath="@number"/>
                </unique>
            </element>
            <element name="annotation" type="tns:annotation.type"/>
            <element name="exception" type="tns:class.type"/>
        </choice>
    </group>
    <!-- /class -->

    <element name="package">
        <complexType>
            <sequence>
                <element ref="tns:documentation"/>
                <element name="include">
                    <complexType>
                        <attribute name="ref"/>
                    </complexType>
                </element>
                <group ref="tns:class.group" maxOccurs="unbounded" minOccurs="0"/>
            </sequence>
            <attribute name="name" type="NCName"/>
        </complexType>
    </element>

    <element name="java">
        <complexType>
            <sequence>
                <element ref="tns:package" maxOccurs="unbounded" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
</schema>